html {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: url('../img/body-background.jpg') no-repeat fixed;
    background-size: cover;
}

header {
    display: block;
    background-color: black;
    padding: 10px;
}

header .layout-wrap {
    justify-content: space-between;
    display: flex;
    background: none;
}

.layout-wrap {
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #7d7e7c;
    /*opacity: 0.7;*/
}

.page-body {
    padding: 1%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-section {
    width: 32%;
    height: 130px;
    display: flex;
    flex-direction: column;
}

/*Background of big boxes*/
.nav-section > p{
    background: black;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 2%;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.menu-hint {
    color: #2a2a2a;
    text-align: left;
    padding-left: 1%;
    font-size: 1.2rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.arrow {
     display: flex;
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 5px solid black;
     opacity: 0.8;
     margin: 5%;
}

/*.menu:hover {
    display: flex;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    opacity: 0.8;
    margin: 4%;
}*/

.menu {
    text-align: center;
    background: #eeeeee;
    align-items: flex-end;
}

.action-list {
    display: none;
}

.tabs div{
    display: none;
}

.tabs div:target {
    display: block;
    background: #ededed;
    width: 100%;
    height: 400px;

}

/*.tabs li:target {
    display: block;
    background: #ededed;
    width: 100%;
    height: 400px;
}*/


/*tab #1*/
#quick-reports > ul {
    display: flex;
    align-content: center;
    flex-direction: column;
    background: #fefefe;
    list-style: none;
    width: 95%;
    height: 60%;
    margin: 0 auto;
    padding-left: 0;
}

ul .reports {
    margin-top: 100px;
}

.reports > li {
    display: flex;
    /*align-content: space-between;*/
    justify-content: space-between;
    flex-direction: row;
    background: #dfdddd;
    list-style: none;
    width: 90%;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0 auto 10px;
}

.reports > li:nth-child(1) {
    margin-top: 20px;
}

.reports > li > div, .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*search box tab 1*/
.reports .name .search-box input {
    width: 200px;
}

.reports .mail .search-box input {
    width: 400px;
}

.reports .name a, .reports .mail a {
    padding-right: 3%;
}

.nav-section:hover .action-list {
    display: block;
}

.nav-section:hover .arrow{
    display: none;
}

.nav-section:hover .arrow{
    display: flex;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    opacity: 0.8;
    margin: 4%;
}

.nav-section .action-list {
    display: none;
}

.action-list {
    position: absolute;
    display: inline-flex;
    color: #86847b;
}

.action-list {
    text-align: left;
    padding: 0;
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.75);
    z-index: 999;
    position: absolute;
    background: #fefefe;
    color: #86847b;
    margin: 0 0 1px;
    width: 24%;
}

/*big icons*/
.icons {
    overflow: hidden;
    margin: 0 auto;
    background: black;
}

.nav-section > .icons {
    background: black;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.action-list li {
    padding: 2%;
    border-bottom: 0.1px #deded8 solid;
    list-style: none;
}

.action-list li a {
    text-decoration: none;
    color: #86847b;
}

.action-list li:hover {
}

.tabs > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0px;
    justify-content: space-between;

}

.tabs > ul  li{
    background: #6e6e6e;
    list-style: none;
    margin-top: 10px;
    width: 24%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.tabs > ul li:hover a{
    background: #ededed;
    color: #86847b;
}

.tabs > ul li:hover {
    background: #ededed;

}

.tabs > ul li:before {
    content: url("../img/icons/settings.png");
    width: 10px;
    height: auto;
    margin-right: 2%;
}

.tabs > ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-left: 5%;
    color: #ededed;
}
